{% extends "layout.html" %}

{% block title %}
    Home
{% endblock %}

{% block main %}

<div class="title">
  <h1><b>FÜD</b></h1>
  <h4>Order Online And Have Local Food Delivered Right To Your Door!</h4>
</div>

<div id="junzi" class="card" style="width: 18rem;">
  <img class="card-img-top" src="https://images.squarespace-cdn.com/content/v1/538acfa1e4b01f1c805e1329/1563305330382-LQDGAL7N49OT5BM56DN3/ke17ZwdGBToddI8pDm48kFmfxoboNKufWj-55Bgmc-J7gQa3H78H3Y0txjaiv_0fDoOvxcdMmMKkDsyUqMSsMWxHk725yiiHCCLfrh8O1z4YTzHvnKhyp6Da-NYroOW3ZGjoBKy3azqku80C789l0iXS6XmVv7bUJ418E8Yoc1hjuviiiZmrL38w1ymUdqq4JaGeFUxjM-HeS7Oc-SSFcg/junzi_ss-2019_spicy-sesame-mushroom_jaja-beef_buddhas-palm-chicken_s.jpg?format=2500w" alt="Junzi">
  <div class="card-body">
    <h5 class="card-title" style="text-align: center"><b>Junzi</b></h5>
    <p class="card-text" style="text-align: center">Chinese</p>
  </div>
  <ul class="list-group list-group-flush">
    <li class="list-group-item" style="text-align: center">11:00am - 10:00pm</li>
    <li class="list-group-item" style="text-align: center">21 Broadway, New Haven, CT 06511, United States</li>
    <li class="list-group-item" style="text-align: center">+1 475-441-7836</li>
  </ul>
  <div class="card-body" style="text-align: center">
    <a href="/junzi" class="card-link">Order Now</a>
  </div>
</div>


<div id="ashleys" class="card" style="width: 18rem;">
  <img class="card-img-top" src="https://s.hdnux.com/photos/01/03/42/60/17706019/4/920x920.jpg" alt="Ashleys">
  <div class="card-body">
    <h5 class="card-title" style="text-align: center"><b>Ashleys Ice Cream</b></h5>
    <p class="card-text" style="text-align: center">Dessert</p>
  </div>
  <ul class="list-group list-group-flush">
    <li class="list-group-item" style="text-align: center">12:00pm - 10:00pm</li>
    <li class="list-group-item" style="text-align: center">280 York St, New Haven, CT 06511, United States</li>
    <li class="list-group-item" style="text-align: center">+1 203-776-7744</li>
  </ul>
  <div class="card-body" style="text-align: center">
    <a href="/ashleys" class="card-link">Order Now</a>
  </div>
</div>

<div id="tropical" class="card" style="width: 18rem;">
  <img class="card-img-top" src="https://www.gannett-cdn.com/presto/2019/06/27/PCLA/265c6ee9-0bf2-4d7d-8c7b-50691539d08e-Catering-News-Box.jpg?width=426&height=243&fit=crop&format=pjpg&auto=webp" alt="Tropical Smoothie">
  <div class="card-body">
    <h5 class="card-title" style="text-align: center"><b>Tropical Smoothie Café</b></h5>
    <p class="card-text" style="text-align: center">Smoothie Bar/Breakfast</p>
  </div>
  <ul class="list-group list-group-flush">
    <li class="list-group-item" style="text-align: center">8:00am - 9:00pm</li>
    <li class="list-group-item" style="text-align: center">15 Dixwell Ave, New Haven, CT 06511, United States</li>
    <li class="list-group-item" style="text-align: center">+1 203-776-7744</li>
  </ul>
  <div class="card-body" style="text-align: center">
    <a href="/tropical" class="card-link">Order Now</a>
  </div>
</div>

<div id="salsa" class="card" style="width: 18rem;">
  <img class="card-img-top" src="https://duyt4h9nfnj50.cloudfront.net/resized/c893ce50e023b79db18731f4ace41c52-w2880-1e.jpg" alt="Salsa Fresca">
  <div class="card-body">
    <h5 class="card-title" style="text-align: center"><b>Salsa Fresca</b></h5>
    <p class="card-text" style="text-align: center">Mexican</p>
  </div>
  <ul class="list-group list-group-flush">
    <li class="list-group-item" style="text-align: center">11:00am - 8:00pm</li>
    <li class="list-group-item" style="text-align: center">51 Broadway, New Haven, CT 06511, United States</li>
    <li class="list-group-item" style="text-align: center">+1 203-891-6999</li>
  </ul>
  <div class="card-body" style="text-align: center">
    <a href="/salsa" class="card-link">Order Now</a>
  </div>
</div>

<div id="juice" class="card" style="width: 18rem;">
  <img class="card-img-top" src="https://duyt4h9nfnj50.cloudfront.net/resized/063e200c75f24c20c64655c0926fecb4-w2880-f1.jpg" alt="Juice Box">
  <div class="card-body">
    <h5 class="card-title" style="text-align: center"><b>Juice Box</b></h5>
    <p class="card-text" style="text-align: center">Juice Shop/Breakfast</p>
  </div>
  <ul class="list-group list-group-flush">
    <li class="list-group-item" style="text-align: center">9:00am - 6:00pm</li>
    <li class="list-group-item" style="text-align: center">1092 Chapel St, New Haven, CT 06510, United States</li>
    <li class="list-group-item" style="text-align: center">+1 203-562-0068</li>
  </ul>
  <div class="card-body" style="text-align: center">
    <a href="/juice" class="card-link">Order Now</a>
  </div>
</div>

<div id="insomnia" class="card" style="width: 18rem;">
  <img class="card-img-top" src="https://hips.hearstapps.com/hmg-prod.s3.amazonaws.com/images/screen-shot-2020-06-11-at-12-59-35-pm-1591894791.png" alt="Insomnia Cookies">
  <div class="card-body">
    <h5 class="card-title" style="text-align: center"><b>Insomnia Cookies</b></h5>
    <p class="card-text" style="text-align: center">Dessert</p>
  </div>
  <ul class="list-group list-group-flush">
    <li class="list-group-item" style="text-align: center">11:00am - 1:00am</li>
    <li class="list-group-item" style="text-align: center">240-242 College St, New Haven, CT 06510, United States</li>
    <li class="list-group-item" style="text-align: center">+1 203-763-4949</li>
  </ul>
  <div class="card-body" style="text-align: center">
    <a href="/insomnia" class="card-link">Order Now</a>
  </div>
</div>

<div id="tarry" class="card" style="width: 18rem">
  <img class="card-img-top" src="https://westport.tarrylodge.com/wp-content/uploads/sites/17/2015/08/Babbo_Boston_Food_703.jpg" alt="Tarry Lodge">
  <div class="card-body">
    <h5 class="card-title" style="text-align: center"><b>Tarry Lodge</b></h5>
    <p class="card-text" style="text-align: center">Italian</p>
  </div>
  <ul class="list-group list-group-flush">
    <li class="list-group-item" style="text-align: center">11:00am - 9:00pm</li>
    <li class="list-group-item" style="text-align: center">278 Park St, New Haven, CT 06511, United States</li>
    <li class="list-group-item" style="text-align: center">+1 203-672-0765</li>
  </ul>
  <div class="card-body" style="text-align: center">
    <a href="/tarry" class="card-link">Order Now</a>
  </div>
</div>


{% endblock %}
