{% extends "layout.html" %}

{% block title %}
    Purchased!
{% endblock %}

{% block main %}

<div class="container">
    <div class="confetti"></div>
    <div class="confetti"></div>
    <div class="confetti"></div>
    <div class="confetti"></div>
    <div class="confetti"></div>
    <div class="confetti"></div>
    <div class="confetti"></div>
    <div class="confetti"></div>
    <div class="confetti"></div>
    <div class="confetti"></div>
    <div class="confetti"></div>
    <div class="confetti"></div>
    <div class="confetti"></div>
</div>

<h1 class="display-1">Thanks for Ordering!</h1>
<br/>
<h5 class="display-3">Good Food. Anytime, Anywhere.</h5>

{% endblock %}